@model TaskManagment.ViewModels.Project.ProjectViewModel
@using TaskManagment.CustomClaims;

@{
    ViewData["Title"] = "Project";
}

<div>
    <nav class="nav-project">
        <div class="project-nav-wrapper nav-wrapper">
            <div class="project-add-users-wrapper">
                <div class="user-image" style="background-image:url('@(User.FindFirst(c => c.Type == CustomClaimTypes.ImagePath).Value)')">
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"></a>
                </div>
                @if (Model.isCanAddMember)
                {
                    <div class="user-image project-add-people-btn modal-trigger" data-target="add-people-modal-trigger">
                        <i class="fas fa-plus"></i>
                    </div>
                }
            </div>
            <h2 class="project-title">@Model.Name</h2>
            <div class="project-info">
                <button class="project-nav-hamburger hamburger hamburger--elastic" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </nav>

    <div class="project-tasks-tables-wrapper">

        @foreach (var ctsVm in Model.CustomTaskStatuses)
        {
            <div class="project-tasks-table">
                <div class="project-tasks-table-header project-tasks-tables-wrapper-handle">
                    <span class="project-tasks-table-header-text project-tasks-table-header-text-status">
                        @ctsVm.Name
                    </span>
                    <span class="project-tasks-table-header-text">
                        <button class="btn waves-effect project-tasks-table-header-add-btn">
                            <i class="fas fa-plus"></i>
                        </button>
                    </span>
                </div>
                <div class="project-tasks-table-add-task">
                    <div class="input-field">
                        <label for=@("project-tasks-table-add-task-input" + ctsVm.Name)>Add a task</label>
                        <input class="validate project-tasks-table-add-task-input" type="text" id=@("project-tasks-table-add-task-input" + ctsVm.Name) />
                    </div>
                    <div class="project-tasks-table-add-task-buttons-wrapper">
                        <button class="btn waves-effect project-tasks-table-add-task-cancel-btn">Cancel</button>
                        <button class="btn waves-effect project-tasks-table-add-task-save-btn">Save</button>
                    </div>
                </div>
                <div class="project-tasks-table-content">
                    @foreach (var ctVm in Model.CustomTasks)
                    {
                        if (ctVm.Status == ctsVm.Name)
                        {
                            <div class="project-tasks-table-item" taskId="@ctVm.Id">
                                <div class="user-image project-tasks-table-item-user-image" style="background-image:url('@ctVm.UserAssigneeImagePath')">

                                </div>
                                <h4 class="project-tasks-table-item-title">
                                    @ctVm.Name
                                </h4>
                                <a class="waves-effect waves-light modal-trigger task-edit-modal-trigger" href="#task-edit-modal"></a>
                            </div>
                        }
                    }                   
                </div>
            </div>
        }

    </div>
</div>

<div id="add-people-modal-trigger" class="modal">
    <div class="modal-content">
        <h4>Manage project members</h4>
        <div class="invite-member-wrapper">
            <span id="invite-user-error-span" class="field-validation-error"></span>            
            <input type="hidden" id="invite-projectId" value="@Model.Id" />
            <input type="hidden" id="invite-projectName" value="@Model.Name" />
            <div class="input-field">
                <label for="invite-member-input">Invite member</label>
                <input class="validate" type="email" id="invite-member-input" />
                <span class="helper-text" data-error="The Email field is not a valid e-mail address."></span>
            </div>
            <button class="invite-member-btn waves-effect waves-green btn-flat">Send</button>
        </div>
    </div>
</div>

<div id="task-edit-modal" class="modal">
    <input type="hidden" id="task-edit-modal-id-input" />
    <div class="modal-content task-edit-modal-content">
        <div class="task-edit-modal-name-wrapper">
            <i class="far fa-sticky-note task-edit-modal-name-icon"></i>
            <h4 class="task-edit-modal-name"></h4>
        </div>
        <div class="task-edit-modal-info">
            <span class="task-edit-modal-info-status">
                In
                <b></b>
            </span>
            <span class="task-edit-modal-info-creator">
                Created by
                <b></b>
                on
                <span class="task-edit-modal-info-creation-date"></span>
            </span>
        </div>
        <div class="task-edit-modal-description">
            <h5 class="task-edit-modal-subtitle">Add a description</h5>
            <div class="input-field">
                <textarea id="task-edit-modal-description-textarea" class="materialize-textarea"></textarea>
                <label for="task-edit-modal-description-textarea">Description</label>
            </div>
            <div class="task-edit-modal-description-buttons-wrapper">
                <button class="btn waves-effect task-edit-modal-description-clean-btn">Clean</button>
                <button class="btn waves-effect task-edit-modal-description-save-btn">Save</button>
            </div>
        </div>
        <div class="task-edit-modal-date">
            <h5 class="task-edit-modal-subtitle">Due date</h5>
            <div class="input-field task-edit-modal-date-field-wrapper">
                <i class="far fa-calendar-alt"></i>
                <input type="text" class="datepicker">
            </div>            
        </div>
    </div>
</div>